* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff3700;
}

body {
    background: #000000;
    font-family: 'popins', sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10;
}

.logoSite {
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: transform 1.3s ease-in;
}

.logoSite:hover{
    transform: rotateY(360deg);
}

.navbar {
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 0 10px;
}

.navbar li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    margin-left: 10px;
}

.navbar li:hover a {
    color: #ff6105;
}

.search {
    position: relative;
    width: 300px;
    height: 45px;
    margin-right: 57px;
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important; 
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color: #ffffff;
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #ffffff;
    padding-right: 10px;
    border-right: 1px solid #ffffff;
}


.movie-deatils {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(images/movie/bg-little-mermaid.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}

.movie-deatils::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.poster {
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.poster.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.movie-title {
    max-width: 250px;
}

.movie-deatils .poster h4 {
    color: white;
    font-weight: 400;
    font-size: 30px;
}

.movie-deatils .poster h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.movie-deatils .poster h4 span:first-child {
    padding-left: 0;
}

.movie-deatils .poster h4 span:last-child {
    border-right: none;
}

.movie-deatils .poster h4 span bold {
    background: var(--primary);
    color: #ffffff;
    padding: 0 8px;
    display: inline-block;
    border-radius: 5px;
}

.movie-deatils .poster p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #ffffff;
    margin: 10px 0 20px;
}

.movie-deatils .poster .button {
    position: relative;
}

.movie-deatils .poster .button a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: #ff3700;
    border-radius: 5px;
    color: #ffffff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.movie-deatils .poster .button a:hover{
    background: rgba(0, 0, 0, 0.5);
}

.movie-deatils .poster .button a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.movie-deatils .poster .button a:hover:nth-child(2) {
    background: #ff3700;
}

.movie-deatils .carousel-box{
    position: relative;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px) ;
    border-radius: 10px;
}

.carousel{
    position: relative;
    height: 550px;
    perspective: 1500px;
}

.carousel .carousel-item{
    width: 250px;
    cursor: pointer;
}

.carousel .carousel-item img{
    max-width: 235px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-50px);
    object-fit: cover;
    object-position: center;
}

.playbtn{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer !important;
    transition: 0.3s;
}

.playbtn i{
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer !important;
    margin-bottom: 3px;
}

.playbtn i:hover{
    color: #ff3700;
}

.sci{
    position: absolute;
    bottom: 50px;
    right: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.sci p{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer !important;
}

.sci a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.sci a:hover{
    color: var(--primary);
}

.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer video{
    max-width: 900px;
    outline: none;
}

.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
}
